# Logs
logs
*.log

# Dependency directories
node_modules

# WebStorm config
.idea

# distribute file
**/*-gitignore/**
**/*-gitignore*
/*.tgz

# generated
/source/__utils__/translation
/example/index.js
