:root {
  --color-text-80: #525e71;
}

:local(.tiny-mce-component) {
  padding: 2px;
  font-size: 12px;
  color: var(--color-text-80);

  & ol,
  & ul { margin: 1em 0; padding-left: 2em; }

  & table {
    & td,
    & th,
    & caption { border: 1px dashed #bbb; }
    & tr:nth-child(even) { background: #eee; }
  }
}
